*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
     background-color: #222;
 }

.title {
    margin-top: 1em;
    text-align: center;
    color: white;
}

 .wrapper {
     max-width: 50%;
     margin: 3em auto;
 }

 .accordion {
     margin: 5px;
     background: #cecece;
     color: white;
     border-radius: 5px;
     position: relative;
 }

 .accordion-header {
     background: rgb(151, 41, 41);
     padding: 20px;
     border-radius: 5px;
     text-shadow: black 2px;
 }

 .accordion-header:active {
    background: rgb(212, 35, 35);
 }

 .accordion-body {
     max-height: 0;
     overflow: hidden;
     padding: 0 5px;
     transition: max-height ease-in-out 0.5s, padding ease-in-out 0.5s;
     color: black;
 }
 
 #skyline .accordion-header {
     background: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
     background-size: auto;
     background-position: center;
 }

 #trees .accordion-header {
     background: url(https://www.pexels.com/photo/361104/download/?search_query=Mountain&tracking_id=wzpvgeq8ut_);
     background-size: cover;
     background-position: center;
 }

 p {
     margin-top: 5px;
 }

 .accordion-body img {
     width: 50%;
     text-align: left;
     display: inline;
     border: 1px solid black;
     padding: 5px;
     margin: 5px;
     margin-left: 0;
 }

 h3 {
     margin: 5px 0;
 }